Source: sl2d
Section: misc
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Gilles Dartiguelongue <gilles.dartiguelongue@smartjog.com>, Nicolas Noirbent <nicolas.noirbent@smartjog.com>, Guillaume Camera <guillaume.camera@smartjog.com>, Clément Bœsch <clement.boesch@smartjog.com>
Build-Depends: debhelper (>= 5.0.38), python-central (>= 0.5.6), cdbs (>=0.4.48), txt2tags
XS-Python-Version: current
Standards-Version: 3.8.3

Package: sl2d
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, sjconf1 (>= 1.2.0), python-sjutils
XB-Python-Version: ${python:Versions}
Recommends: sjconf-sl2d (>= 0.1)
Description: streaming loader 2 daemon
 streaming loader is a daemon that streams and transcodes content from/to
 ffserver.
